# ========================
# Environment variables
# ========================
.env
.env.*
sleep-sense-backend/.env

# ========================
# Node
# ========================
node_modules/
dist/

# ========================
# Python
# ========================
__pycache__/
*.pyc
venv/

# ========================
# Firebase
# Firebase service account
*.json
sleep-sense-backend/*.json
